<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b9fc4b5630.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/styles/styles.css">
    <title> MercadoLiebre </title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <section class="container">
            <div class="header__top-section">
                <div class="header__logo-container">
                    <a href="/">
                        <img class="header__logo" alt="Logo de MercadoLiebre"
                            src="/assets/images/pics/logo-mercado-liebre.svg">
                    </a>
                    <div class="input-container">
                        <input type="text" placeholder="Buscar productos, marcas y más...">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
                <h4 class="header__cuotas"><i class="fa-solid fa-credit-card"></i> Compra en cuotas y sin tarjeta de
                    credito</h4>

                <nav class="header__collapsedMenu">
                    <a href="#"><i class="fa-solid fa-bars fa-xl"></i></a>
                    <a href="#"><i class="fa-solid fa-basket-shopping fa-xl"></i></a>
                </nav>
            </div>

            <nav class="header__bottom-nav">
                <ul class="primary-menu">
                    <li><a href="#">Todos los productos</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="secondary-menu">
                    <li> <a href="#"> Crea tu cuenta <i class="fa-regular fa-address-card"></i> </a> </li>
                    <li> <a href="#"> Ingresa <i class="fa-solid fa-right-to-bracket"></i> </a> </li>
                    <li> <a href="#"> Mis compras <i class="fa-solid fa-basket-shopping"></i></a> </li>
                </ul>
            </nav>

        </section>
    </header>

    <!-- MAIN -->
    <main>
        <section class="hero-banner-section">
            <img src="/assets/images/pics/img-home-banner.jpg">
        </section>

        <section class="ultima-visita-section container">
            <h1>Basado en tu ultima visita</h1>
            <div class="product-grid">
                <div class="product-card">
                    <img src="/assets/images/pics/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="product-description-container">
                        <h2>$6.770 <span class="product-discount">40% OFF</span></h2>
                        <h4 class="product-description">Cafetera Moulinex</h4>
                        <div class="icon-circle">
                            <i class="fa-solid fa-truck fa-lg"></i>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <img src="/assets/images/pics/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <div class="product-description-container">
                        <h2>$230.000 <span class="product-discount">20% OFF</span></h2>
                        <h4 class="product-description">MacBook Pro 2019</h4>
                        <div class="icon-circle">
                            <i class="fa-solid fa-truck fa-lg"></i>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <img src="/assets/images/pics/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class="product-description-container">
                        <h2>$70.500 <span class="product-discount">10% OFF</span></h2>
                        <h4 class="product-description">Samsung Galaxy S10</h4>
                        <div class="icon-circle">
                            <i class="fa-solid fa-truck fa-lg"></i>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <img src="/assets/images/pics/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                    <div class="product-description-container">
                        <h2>$23.200 <span class="product-discount">5% OFF</span></h2>
                        <h4 class="product-description">SmartTv Samsung 43"</h4>
                        <div class="icon-circle">
                            <i class="fa-solid fa-truck fa-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ofertas-section container">
            <h1>Ofertas</h1>
            <div class="product-grid">
                <div class="product-card">
                    <img src="/assets/images/pics/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="product-description-container">
                        <h2>$6.770 <span class="product-discount">40% OFF</span></h2>
                        <h4 class="product-description">Cafetera Moulinex</h4>
                        <div class="icon-circle">
                            <i class="fa-solid fa-truck fa-lg"></i>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <img src="/assets/images/pics/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <div class="product-description-container">
                        <h2>$230.000 <span class="product-discount">20% OFF</span></h2>
                        <h4 class="product-description">MacBook Pro 2019</h4>
                        <div class="icon-circle">
                            <i class="fa-solid fa-truck fa-lg"></i>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <img src="/assets/images/pics/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class="product-description-container">
                        <h2>$70.500 <span class="product-discount">10% OFF</span></h2>
                        <h4 class="product-description">Samsung Galaxy S10</h4>
                        <div class="icon-circle">
                            <i class="fa-solid fa-truck fa-lg"></i>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <img src="/assets/images/pics/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                    <div class="product-description-container">
                        <h2>$23.200 <span class="product-discount">5% OFF</span></h2>
                        <h4 class="product-description">SmartTv Samsung 43"</h4>
                        <div class="icon-circle">
                            <i class="fa-solid fa-truck fa-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    <footer>
        <section class="container">
            <div class="footer__col">
                <i class="fa-solid fa-credit-card fa-xl"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer__col">
                <i class="fa-sharp fa-solid fa-gift fa-xl"></i>
                <h2>Envío gratis desde $ 2.500</h2>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer__col">
                <i class="fa-solid fa-user-shield fa-xl"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>

        </section>
        <section class="container-fluid footer__copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>