:root {
    --white: white;
    --gray-100: #d3d3d3;
    --gray-300: #ebebeb;
    --gray-400: #666;
    --gray-800: #333;

    --green: #39b54a;
    --celeste: #1259c3;

    --primary-yellow: #EAC926;
}